{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block content %}
<main class="travel-page">
    <h2 class="travel-title">Travel</h2>
    <p>A map of places I've been (admittedly not very far yet...)</p>
    <div id="map"></div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script type="application/json" id="locations-data">{{ locations | tojson }}</script>
<script>
    (function () {
        const places = JSON.parse(document.getElementById('locations-data').textContent);

        const map = L.map('map');
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const markers = places.map(function (loc) {
            return L.marker([loc.lat, loc.lng]).bindPopup(loc.name);
        });

        const group = L.featureGroup(markers).addTo(map);
        map.fitBounds(group.getBounds().pad(0.2));
    })();
</script>
{% endblock %}
